.banner {
  max-height: 500px;
}

.call-to-action {
  background-color: var(--color-primary);
  color: var(--color-neutral-beige);
}

.featured {
  background-color: var(--color-accent);
  color: var(--color-neutral-beige);
}

.featured:hover {
  background-color: var(--color-third);
  color: var(--color-neutral-beige);
}

.hero-banner {
  color: var(--color-neutral-beige);
}

.hero-content {
  color: var(--color-neutral-beige);
  width: 100%;
  position: absolute;
  bottom: 0;
}

.banner-icon {
  background-color: var(--color-secondary);
}
